extends layout
block content 
    .login-panel 
        img(class="imageLogin" src="img/login-img.png")
        include includes/login-form 
    .register-panel 
        img(class="imageReg" src="img/register-img.jpg")
        include includes/register-form
